@import "reset.css";
@import "940_12_20.css";
@import "jquery.arcticmodal-0.3.css";
@import "owl.carousel.css";
@import "jquery.formstyler.css";
@import "../fonts/helvetica_neue_lt/HelveticaNeueLTW1G-Lt.css";
@import "../fonts/helvetica_neue_md/HelveticaNeueLTW1G-Md.css";
@import "../fonts/helvetica_neue_bd/HelveticaNeueLTW1G-BdCn.css";
@import "../fonts/helvetica_neue_roman/HelveticaNeueLTW1G-Roman.css";
@import "../fonts/helvetica_neue_hv/HelveticaNeueLTW1G-Hv.css";
@import "../fonts/politica_bold/Politica-Bold.css";
@import "../fonts/annabelle/annabelle.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'HelveticaNeueLTW1G-Roman', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #000;
  min-width: 1200px;
  background: #fff;
}
.container{
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}
.container1{
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------> Fonts <------------------*/

.lt{
  font-family:'HelveticaNeueLTW1G-Lt';
  font-weight: normal;
}
.md{
  font-family:'HelveticaNeueLTW1G-Md';
  font-weight: normal;
}
.bd{
  font-family:'HelveticaNeueLTW1G-BdCn';
  font-weight: normal;
}
.hv{
  font-family:'HelveticaNeueLTW1G-Hv';
  font-weight: normal;
}

.fz14{font-size: 14px;}
.fz18{font-size: 18px;}
.fz23{font-size: 23px;}
.fz24{font-size: 24px;}

/*----------------------> Links And buttons <------------------*/

a {
  outline:none;
  text-decoration:underline;
  cursor:pointer;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
a:hover{
  text-decoration:none;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.button{
  display:inline-block;
  padding:18px 55px;
  font-size: 33px;
  line-height: 33px;
  color:#414141;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: #fffc7f;
  border-radius: 9px;
 }
.button:hover{
  background: #414141;
  color:#fffc7f;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.val_mid{vertical-align: middle;}
.z9{z-index: 9;}


/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {overflow:hidden}
.clearfix:after{
  content:"";
  display: block;
  width: 100%;
  height: 0;
  clear:both;
}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{display: none;}

/*----------------------> Basic Colors <------------------*/
.white_color{color: #fff;}
.red_color{color: #e80a32;}

.white_bg{background-color: #fff;}
.blue_bg{background-color: #4bb1e8;}
.ping_bg{background-color: #f26d7d;}
.orange_bg{background-color: #fba026;}
.green_bg{background-color: #61bd6d;}
.grey_bg{background-color: #ebebeb;}

/*=====================> indents ========================*/

/*top*/
.pt18{padding-top: 18px;}

/*bottom*/
.mb8{margin-bottom: 8px;}
.mb10{margin-bottom: 10px;}
.mb60{margin-bottom: 60px;}
/*left*/
.ml30{margin-left: 30px;}

/*right*/

/*=====================> Lists ========================*/
.list1{
  width: 414px;
  background: url(../images/list1_bg.png) 0 bottom repeat-x;
  padding-bottom: 35px;
}
.list1 li{
  float: left;
  text-align: center;
  width: 33.333%;
  font-size: 16px;
  line-height: 18px;
}
.list1 li img{margin-bottom: 13px;}

.list2{}
.list2_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2_link{}

.list3{}
.list3_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3_link{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1{
  font-size: 40px;
  line-height: 44px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.title1>span{display: block;}
.title1 .line2{padding-left: 225px;}
.title1 .line3{padding-left: 54px;}

.title2{
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  margin-bottom: 10px;
}
.title2 span{
  font-size: 57px;
  display: block;
  line-height: 58px;
}

.title3{
  font-size: 27px;
  color: #fff200;
  margin-bottom: 30px;
}

/*======================> Header <======================*/
header {
  background-color: #fff;
}

.header_top{
  background-color: #f4f4f4;
}
.header_top_list>li{
  position: relative;
  margin: 0 20px;
  float: left;
}
.header_top_list>li:before{
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  background-color: #ddd;
  top: 9px;
  left: -20px;
}
.header_top_list>li:first-child:before{
  display: none;
}
.header_top_list>li>a{
  display: block;
  font: 12px/30px Arial, Verdana, 宋体;
  color: #666;
  text-decoration: none;
}
.header_top_list>li>a:hover{color: #df0414;}

.lang_it{
  font: 12px/30px Arial, Verdana, 宋体;
  color: #666;
  padding-left:10px;  
  padding-right:30px;  
  position: relative;
  border-right: 1px solid transparent;
}
.lang_it span{
  position: absolute;
  display: block;
  width: 20px;
  height: 10px;
  top: 50%;
  right: 10px;
  margin-top: -5px;
  background: url(../images/icon.png) -27px -10px no-repeat;
}
.header_top_list>li.lang{
  margin-left: 10px;
  margin-right: 0;
}
.header_top_list>li:hover .lang_it{
  background-color: #fff;
  border-right: 1px solid #e9e9e9;
}
.header_top_list>li:hover .lang_it span{background-position: -27px -24px;}

.lang_box{
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 320px;
  padding: 20px 15px;
  background: #fff;
  border: 1px solid #e9e9e9;
  border-top: none;
  z-index: 999;
}
.header_top_list>li:hover .lang_box{display: block;}
.lang_box p{
  font: 12px/14px Arial, Verdana, 宋体;
  color: #666;
  margin-bottom: 5px;
}
.lang_list li{
  float: left;
  width: 140px;
  margin-bottom: 5px;
}
.lang_list li>a{
  font: 12px/20px Arial, Verdana, 宋体;
  color: #666;
  text-decoration: none;
}
.lang_list li>a:hover{color: #df0414;}

.header_bottom{
  padding: 30px 0;
}
.logo{
  float: left;
  display: block;
  margin-right: 40px;
  width: 320px;
  height: 50px;
  background: url("../images/logo.png") no-repeat;
}

.search_box{
  border: 2px solid #df0414;
  width: 540px;
  margin-top: 5px;
  line-height: 24px;
  font-size: 14px;
  position: relative;
  font-size: 14px;
  z-index: 999;
}
.search_select{
  background-color: #fff;
  width: 190px;
  border-right: 2px solid transparent;
  line-height: 38px;
}
.search_select .jq-selectbox__select{
  background: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  height: 38px;
  line-height: 38px;
}
.search_select .jq-selectbox__trigger{border: none;}

.search_select.opened{
  border-right: 2px solid #df0414;
}
.search_select:after{
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 1px;
  background-color: #cdcdcd;
  right: -1px;
  top: 50%;
  margin-top: -5px;
}
.search_select.opened:after{display: none;}
.search_select.dropdown:before{
  content:"";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 100%;
  background-color: #fff;
}
.search_select.dropup:before{
  content:"";
  display: block;
  width: 100%;
  height: 2px;
  bottom: 100%;
  background-color: #fff;
}
.search_select .jq-selectbox__dropdown{
  top: 40px;
  width: 277px;
  left: -2px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid #df0414;
  border-top: none;
  background-color: #fff;
}

.search_box input[type="text"]{
  border: none;
  outline: none;
  padding: 11px 20px;
  width: 269px;
}
.search_box button{
  float: right;
  width: 40px;
  height: 38px;
  background: #df0414 url("../images/icon.png") -26px -30px;
  border: none;
  cursor: pointer;
}



.header_bottom .tools-box {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.header_bottom .tools-box li {
  float: left;
  margin-left: 9px;
  padding: 0 5px;
  color: #2e2e2e;
  font-size: 14px;
}
.header_bottom .tools-box li>a,
.header_bottom .tools-box li>.sign{
  text-decoration: none;
  color: #666;
  line-height: 28px;
}
.header_bottom .tools-box li>a:hover{color: #df0414;}
.header_bottom .tools-box i {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../images/icon.png") 0 0;
  vertical-align: middle;
}
.header_bottom .tools-box .wish i {
  background-position: 0 -66px;
}
.item-sign {
  position: relative;
  border: 1px solid #fff;
  border-bottom: 0;
  z-index: 999;
}
.item-sign:hover{
  border: 1px solid #e9e9e9;
  border-bottom: 0;
}
.header_bottom .tools-box .sign i {
  background-position: 0 -34px;
}
.item-sign .sign-box.s-2 {
  text-align: center;
}
.item-sign:hover .sign-box {
  display: block;
}
.item-sign .sign-box {
  display: none;
  position: absolute;
  right: -1px;
  top: 30px;
  width: 320px;
  padding: 20px 0;
  background: #fff;
  border: 1px solid #e9e9e9;
  z-index: 999;
}
.item-sign .sign-box .spacer {
  height: 10px;
  background: #fff;
  overflow: hidden;
  position: absolute;
  top: -7px;
  right: 0;
  width: 83px;
}
.item-sign .sign-box .mt {
  padding: 0px 15px 15px 20px;
}
.item-sign .sign-box .btn-join, .item-sign .sign-box .btn-sign {
  background: #333;
  font-size: 14px;
  color: #fff;
  line-height: 34px;
  height: 34px;
  display: block;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
}
.item-sign .sign-box .btn-sign {
  background: #df0414;
}
.item-sign .sign-box .mc {
  border-top: 1px solid #e9e9e9;
  padding: 15px 20px 0 20px;
}
.item-sign .sign-box.s-2 p {
  padding-bottom: 10px;
}
/*=====================> Content ========================*/
#content {
  padding: 0;
}

.first_screen{
  background: url(../images/first_screen_bg.jpg) 50% 0 repeat;
  min-height: 492px;
  padding: 40px 0 0;
}
.first_screen_label{
  top: -94px;
  left: 50%;
  margin-left: 248px;
  width: 222px;
  height: 179px;
  background: url(../images/first_screen_label.png) 0 0 no-repeat;
  padding: 35px 0 0 49px;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 1px;
}
.subscribe_box{padding-top: 30px;}
.subscribe_box .social_list{padding-top: 0;padding-left: 25px;}
.subscribe_box .social_list li{margin: 0 5px;}

/*slider*/
.slider_img{
  top: 0;
  left: 0;
  width: 100%;
}
.slider_info{
  background: 0 0 no-repeat;
  padding: 25px 0 0 25px;
  height: 247px;
}
  .slider_title{
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 17px;
    font-weight: normal;
  }
  .social_list_box{
    width: 130px;
    background: url(../images/list1_bg.png) 0 bottom repeat-x;
    padding-bottom: 18px;
    margin-bottom: 10px;
  }
  .social_list_box .social_list{padding-top: 8px;}
  .social_list_box .social_list li{
    margin: 0 4px;
  }
  .social_list_box .social_list li:hover a{
    -webkit-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  .prize{
    font-size: 22px;
    line-height: 26px;
  }
  .prize span{color: #bb013e;}

.owl-buttons>div{display: none;}
.owl-pagination{text-align: center;padding-top: 10px;}
.owl-pagination>div{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
}
.owl-pagination>div.active{opacity: 1;}


/*tabs*/

#tabs_list{
  padding: 20px 0 17px;
  position: relative;
  z-index: 11;
}
.tabs_list_item{
  background-color: #e4e4e4;
  text-align: center;
  padding: 17px 0 50px;
  position: relative;
  color: #898989;
  cursor: pointer;
}
.tabs_list_item.active{
  background-color: #008dc2;
  color: #fff;
  cursor: default;
}
.tabs_list_item.default{cursor: default;}
.tabs_list_item.active:before{
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 110px solid transparent;
  border-bottom-width: 0;
  border-top: 24px solid #008dc2;
  bottom: -41px;
  left: 0;
}
.tabs_list_item.active:after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 17px;
  background-color: #008dc2;
  bottom: -17px;
  left: 0;
}
.tabs_list_item hr{
  display: inline-block;
  border: none;
  height: 1px;
  width: 0;
  margin: 10px 0 0;
  background-color: rgba(255,255,255,0.5);
  -webkit-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
.tabs_list_item.active hr{
  width: 142px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.tabs_list_title{
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}
.tabs_list_start{
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
  font-size: 12px;
}


.tabs_top{
  padding-top: 35px;
  background: url(../images/tabs_top_bg.jpg) 50% 0 no-repeat;
  padding-bottom: 188px;
  overflow: hidden;
}
.product_box{
  width: 650px;
}
.tabs_top_product_box{
  width: 298px;
  float: left;
}
.tabs_top_product_box:first-child{
  margin-right: 32px;
  width: 320px;
}
.product_box_small{margin: 0 -10px;}

.product_item{
  margin-bottom: 28px;
  text-align: center;
}
.product_item figure{background-color: #fff;}
.product_item.small{
  margin: 0 10px;
  margin-bottom: 20px;
  float: left;
  width: 139px;
}
.product_item figcaption{
  display: block;
  padding: 7px 9px 12px 13px;
}
.product_item.big figcaption{
  padding: 15px 9px 15px 25px;
}
.product_item.small figcaption{
  padding: 10px 5px 10px 8px;
}
.product_title{
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  padding-bottom: 10px;
  height: 42px;
  vertical-align: middle;
  display: table-cell;
}
.product_item.big .product_title{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  padding: 0;
  height: auto;
  display: block;
}
.product_item.small .product_title{
  height: auto;
  display: block;
  padding: 0;
}

.product_prise{
  color: #e91643;
  font-size: 13px;
  line-height: 16px;
}
.product_item.big .product_prise{
  font-size: 21px;
  line-height: 25px;
}
.product_sile{
  color: #e91643;
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
}
.product_item.big .product_sile{
  line-height: 21px;
  font-size: 18px;
  text-decoration: none;
}
.product_item.small .product_sile{
  font-size: 13px;
  text-decoration: none;
}
.product_btn{
  display: block;
  color: #000;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  padding: 8px 0;
  background-color: #fff200;
  margin-top: 6px;
  text-decoration: none;
}
.product_item.big .product_btn{
  font-size: 21px;
  line-height: 24px;
  padding: 14px 0;
}
.product_btn:hover{
  background-color: #e4d803;
}

.btn1{
  display: block;
  background-color: #e91643;
  font-size: 22px;
  line-height: 26px;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
}
.btn1:hover{background-color: #d50531;}

.tabs_top_img{
  position: absolute;
  left: 50%;
  margin-left: -816px;
  top: 236px;
}
.tabs_top_link{
  z-index: 10;
  display: inline-block;
  position: absolute;
  top: 633px;
  height: 163px;
  width: 291px;
  left: 50%;
  margin-left: -476px;
}


.tabs_bottom{
  position: relative;
  background: #fca20d url(../images/tabs_bottom_bg.jpg) 50% 16px no-repeat;
  padding: 35px 0 55px;
}
.tabs_bottom:before{
  content: "";
  display: block;
  position: absolute;
  top: -86px;
  height: 102px;
  left: 0;
  right: 0;
  background: url(../images/tabs_bottom_before.png) 50% 0 repeat-x;
}

.filter_box{
  font-size: 14px;
  line-height: 31px;
  padding-top: 35px;
  padding-bottom: 43px;
}
.filter_box>a{
  margin-left: 10px;
  color: #fff;
}
.filter_select1{
  width: 195px;
  margin-left: 10px;
}
.filter_select1 .jq-selectbox__select{
  background: #fff;
  outline: none ;
  border: none !important;
  border-radius: 0;
}
.filter_select1 .jq-selectbox__trigger{border: none;}
.filter_select1 .jq-selectbox__select-text{
  font: 14px/31px 'HelveticaNeueLTW1G-Roman', sans-serif;
  color: #555555;
  width: 100% !important;
}

.filter_select2{
  width: 166px;
  float: right;
}
.filter_select2 .jq-selectbox__select{
  background: none;
  outline: none ;
  border: none !important;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  padding-right: 20px;
}
.filter_select2 .jq-selectbox__trigger{border: none;width: 15px;}
.filter_select2 .jq-selectbox__trigger-arrow{
  right: 0;
  border-top-color: #fff;
}
.filter_select2 .jq-selectbox__select-text{
  font: 14px/31px 'HelveticaNeueLTW1G-Roman', sans-serif;
  color: #fff;
  text-decoration: underline;
  width: 100% !important;
}

.more_btn{
  text-decoration: underline;
  font-size: 22px;
  line-height: 25px;
}

.subscribe_bottom_box{
  background-color: #ed145b;
  padding: 20px 0;
}
.subscribe_bottom_box .social_list li{margin: 0 5px;}

.tabs_container>div{display: none;}
.tabs_container>div.active{display: block;}


/*modal window*/
.modal_box{
  width: 610px;
  padding-top: 70px;
}
.arcticmodal-close{
  width: 24px;
  height: 24px;
  top: -38px;
  right: -48px;
  background: url(../images/modal_close.png) 0 0 no-repeat;
  cursor: pointer;
}
.arcticmodal-close:hover{
  opacity: 0.7;
}
  .thanks_modal_text{
    padding-bottom: 60px;
  }
    .thanks_modal_title{
      font-size: 52px;
    }
    .thanks_modal_social{
      padding: 30px 0 40px;
      font-size: 20px;
    }
      .social_list{
        padding-top: 20px;
      }
        .social_list li{
          display: inline-block;
          margin: 0 24px;
        }
        .social_list li a{
          display: block;
          -webkit-transition: all 0.7s;
          -o-transition: all 0.7s;
          transition: all 0.7s;
        }
        .social_list li:hover a{
          -webkit-transform: translate(0, -10px);
          -ms-transform: translate(0, -10px);
          -o-transform: translate(0, -10px);
          transform: translate(0, -10px);
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
        }

/*================================>> Footer <<========================================*/
.footer {
  background: #fff;
  width: 100%;
  overflow: hidden;
}
.footer .links {
  padding: 25px 0;
  border-bottom: 1px solid #e9e9e9;
  width: 100%;
  overflow: hidden;
}
.footer .links dl {
  float: left;
  margin-right: 75px;
  line-height: 22px;
  font-size: 12px;

}
.footer .links dl dt {
  color: #ccc;
}
.footer .links dl dd a{
  color: #999;
  text-decoration: none;
}
.footer .links dl dd a:hover{
  color: #df0414;
}

.footer .fd {
  position: relative;
  float: right;
  width: 453px;
  overflow: hidden;
}
.footer .fd .ipt-text {
  float: left;
  color: #999;
  width: 270px;
  font-size: 12px;
  border: 3px solid #e9e9e9;
  border-right: 0;
  padding: 11px 15px;
}
.footer .fd .ipt-submit {
  float: left;
  width: 150px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border: none;
  background: #df0414;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.footer .fd .link-facebook {
  color: #ccc;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 20px;
  float: left;
  width: 453px;
  text-decoration: none;
}
.footer .fd .link-facebook:hover{color: #df0414;}
.footer .fd .link-facebook i{
  width: 26px;
  height: 26px;
  display: inline-block;
  background: url("../images/icon.png") -67px 0;
  vertical-align: middle;
  margin-right: 10px;
}
.footer .cpright {
  text-align: center;
  color: #333;
  padding: 15px 0;
  font-size: 12px;
}