/*
940px grid system ~ Core CSS.
12 Columns ~ Margin left: 20px

Based on the simple grid system - http://www.webnicer.com/
by Jacek Ciolek

Created by the Grid System Generator - v1.00
Learn more ~ http://www.gridsystemgenerator.com/
*/

/* clearfix */
.clearfix:after, .row:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix, .row {display:inline-block;} /*Those two .clearfix have to be separate!)*/
.clearfix, .row {display:block;}

/* gridframework */
.row {position:relative; margin-left:-10px;margin-right: -10px;}
.gu1 .row {width: 80px;}
.gu2 .row {width: 160px;}
.gu3 .row {width: 240px;}
.gu4 .row {width: 320px;}
.gu5 .row {width: 400px;}
.gu6 .row {width: 480px;}
.gu7 .row {width: 560px;}
.gu8 .row {width: 640px;}
.gu9 .row {width: 720px;}
.gu10 .row {width: 800px;}
.gu11 .row {width: 880px;}
.gu12 .row {width: 960px;}

.col {margin-left:10px;margin-right: 10px; float:left; position:relative;min-height: 1px;}
.gu1{width: 60px;}
.gu2{width: 140px;}
.gu3{width: 220px;}
.gu4{width: 300px;}
.gu5{width: 380px;}
.gu6{width: 460px;}
.gu7{width: 540px;}
.gu8{width: 620px;}
.gu9{width: 700px;}
.gu10{width: 780px;}
.gu11{width: 860px;}
.gu12{width: 940px;}
